body {
  background-color: gray;
}

* {
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
}

h1,
h2,
p,
pre {
  margin: 0.75em 0;
}

footer {
  padding-top: 3em;
}

h2 {
  border: 0.25em solid black;
  padding: 0.25em;
  display: inline-block;
}

li {
  list-style: none;
}

li:before {
  content: "*";
}

pre {
  overflow: hidden;
}

ul {
  padding-left: 0;
}

#download-pdf {
  bottom: 1em;
  position: fixed;
  right: 1em;
}

#download-pdf img {
  height: 5em;
  width: 5em;
}

#header-left {
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

#header-right {
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

#key-achievements li {
  margin-bottom: 1em;
}

.page {
  background-color: white;
  border: 0.1em solid black;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75), 0 2px 4px rgba(0, 0, 0, 0.75),
    0 4px 8px rgba(0, 0, 0, 0.75), 0 8px 16px rgba(0, 0, 0, 0.75),
    0 16px 32px rgba(0, 0, 0, 0.75), 0 32px 64px rgba(0, 0, 0, 0.75);
  padding: 3em;
}

@media (min-width: 1024px) {
  body {
    margin: 2em auto;
  }
  .page {
    margin: auto;
    max-width: 52.5em;
  }
}

flex-container {
  display: -webkit-flex;
  display: flex;
}

.flex-container .column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
